@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', system-ui, sans-serif;
}

body {
  @apply bg-white text-gray-900 dark:bg-slate-900 dark:text-white transition-colors duration-200;
}